@CHARSET "UTF-8";
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/roboto-regular-webfont.eot");
	src: url("../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
	font-weight: normal;
	font-style: normal
}

body {
	font: 12px/1.2em "Roboto", sans-serif;;
	color: #7ba4d8;
	margin: 0;
	padding: 0;
}

#wrapperall {
	padding-left: 50px !important;
	background-color: #ddd !important;
}

#logo {
	padding: 45px;
}

#divqrcode {
	border: 5px solid #333;
}

#qrcodeimg {
	padding: 0;
	margin: 0;
}

.qrimg {
	width: 80px;
	height: 80px;
	padding: 0;
	margin: 0 0 0 -10px;
}

#hrtop strong {
	margin-top: 10px;
	vertical-align: middle;
	text-transform: uppercase;
}

#hrtop {
	background-color: #a7c973;
	height: 20px;
	margin-right: 30px;
	margin-left: 30px;
	color: #fff;
	font-size: 25px;
	text-align: center;
	font-weight: 600;
	padding: 10px;
}

#date {
	margin-left: 100px;
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
	color: #7e7e7e;
}

#date span {
	color: #7eabc7;
}

.addr-rows {
	width: 100%;
	border-collapse: collapse;
	margin-top: 6px
}

.addr-rows td {
	padding: 2px 0;
	color: #777
}

.addr-rows td.first-child {
	width: 160px
}

div.addresses {
	margin-top: 50px;
	padding: 0
}

div.addresses table#addresses-data {
	width: 100%;
	margin: 0 auto 60px auto;
	border-collapse: collapse;
	font-size: 15px !important;
}

div.addresses table#addresses-data td {
	font-size: 15px !important;
	line-height: 1.6em;
	color: #000;
	vertical-align: top;
	padding: 0;
}

.company {
	text-transform: uppercase;
}

#invoice-details {
	width: 100%;
	margin: 0
}

#invoice-details #invoice-details-wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 10px 0
}

#invoice-details #invoice-details-wrapper table.details {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 2px solid #7ba4d8
}

#invoice-details #invoice-details-wrapper table.details th {
	font-size: 12px;
	font-weight: normal;
	border-bottom: 3px solid #7ba4d8;
	padding: 6px 0
}

#invoice-details #invoice-details-wrapper table.details th.first-child {
	text-align: left;
	width: 200px;
	border-top: 1px solid #ddd;
}

#invoice-details #invoice-details-wrapper table.details tr td {
	font-size: 11px;
	text-align: center;
	color: #777;
	padding: 6px 0;
}

#invoice-details #invoice-details-wrapper table.details tr td.first-child {
	text-align: left;
}

#invoice-details #invoice-details-wrapper table.details tr.first-child td {
	padding-top: 20px;
}

#invoice-details #invoice-details-wrapper table.details tr.last-child td {
	padding-bottom: 20px
}

#invoice-details #invoice-details-wrapper table.total {
	float: right;
	margin-top: 15px;
	border-collapse: collapse
}

#invoice-details #invoice-details-wrapper table.total tr td {
	padding: 5px 0;
	text-align: center
}

#invoice-details #invoice-details-wrapper table.total tr td.first-child {
	text-align: left;
	padding-left: 10px;
	color: #5d9fbf !important;
}

#invoice-details #invoice-details-wrapper table.total tr.last-child td {
	padding-bottom: 10px
}

#invoice-details #invoice-details-wrapper table.total tfoot td {
	padding: 15px 0;
	font-weight: bold;
	text-align: center;
	border-top: 1px solid #333
}

#invoice-details #invoice-details-wrapper div {
	clear: both;
	font-size: 11px;
	margin: 10px 0 0 0
}

#invoice-details #invoice-details-wrapper p {
	font-size: 13px;
	background: #fff;
	padding: 10px 15px;
	margin-top: 5px
}

.invoice-thead th {
	text-transform: uppercase;
	font-weight: bold;
}

.details tr td.last-child {
	border-bottom: 1px solid #333 !important;
}

table.details {
	border-bottom: 5px solid #333 !important;
}

.total td {
	color: black !important;
}

#amountwords {
	font-size: 55px !important;
}

#spancomments {
	font-weight: bold;
}

#commentsfooter {
	width: 100%;
	color: #5d9fbf;
	border-bottom: 1px solid #bec9dd;
	font-size: 14px;
	margin: 20px 20px 0 20px;
	padding: 0;
}

#tdfooterterms {
}

#tablefooter {
	font-size: 0.8em;
	width: 96%;
	color: #808080;
	margin: 0 auto
}

#tablefooter td:last-child {
	text-align: right;
}

#footer {
	padding: 0 20px 0 0px;
	margin-top: -1190px;
}

.from {
	color: #808080;
}

.details thead th {
	color: black;
}

.invoice thead th {
	border-bottom: 2px solid #ddd !important;
}