/* HelveticaNeue */

@font-face
	font-family: 'HelveticaNeue'
	src: url('../fonts/HelveticaNeue/HelveticaNeue.eot')
	src: url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue/HelveticaNeue.otf') format('opentype'), url('../fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg')
	font-weight: 400
	font-style: normal
	font-stretch: normal
	unicode-range: U+0-10FFFF

$fontHelveticaNeue: 'HelveticaNeue', Helvetica, sans-serif

/* HelveticaNeueLight */

@font-face
	font-family: 'HelveticaNeueLight'
	src: url('../fonts/HelveticaNeueLight/HelveticaNeueLight.eot')
	src: url('../fonts/HelveticaNeueLight/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLight/HelveticaNeueLight.woff2') format('woff2'), url('../fonts/HelveticaNeueLight/HelveticaNeueLight.woff') format('woff'), url('../fonts/HelveticaNeueLight/HelveticaNeueLight.ttf') format('truetype'), url('../fonts/HelveticaNeueLight/HelveticaNeueLight.otf') format('opentype'), url('../fonts/HelveticaNeueLight/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg')
	font-weight: 300
	font-style: normal
	font-stretch: normal
	unicode-range: U+0-10FFFF

$fontHelveticaNeueLight: 'HelveticaNeueLight', Helvetica, sans-serif

/* HelveticaNeueLightItalic */

@font-face
	font-family: 'HelveticaNeueLightItalic'
	src: url('../fonts/HelveticaNeueLightItalic/HelveticaNeueLightItalic.eot')
	src: url('../fonts/HelveticaNeueLightItalic/HelveticaNeueLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLightItalic/HelveticaNeueLightItalic.woff2') format('woff2'), url('../fonts/HelveticaNeueLightItalic/HelveticaNeueLightItalic.woff') format('woff'), url('../fonts/HelveticaNeueLightItalic/HelveticaNeueLightItalic.ttf') format('truetype'), url('../fonts/HelveticaNeueLightItalic/HelveticaNeueLightItalic.otf') format('opentype'), url('../fonts/HelveticaNeueLightItalic/HelveticaNeueLightItalic.svg#HelveticaNeueLightItalic') format('svg')
	font-weight: 300
	font-style: italic
	font-stretch: normal
	unicode-range: U+0-10FFFF

$fontHelveticaNeueLightItalic: 'HelveticaNeueLightItalic', Helvetica, sans-serif